<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="Authorization" value="AvalaraAuth uWp+bwjc/E6wZPRExFg83ji8a7HU40sIiZBADmBYaHM4GKKvuKJXEx5DQ/4Eexux" />
    <add key="Url" value="https://tax.api.avalara.com/v2/transactions" />
    <add key="UserAgent" value="RestSample" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="RavenDBUrl" value="http://localhost:8080/databases/{0}/docs/{1}"/>
    <add key="InputFile" value="GetTax.json"/>
    <add key="VoidFile" value="Void.json"/>
    
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>